.App {
  text-align: center;
}

.cuadre{
  height: 400px;
  width: 600px;
  margin-left: 300px;
}

.fotos{
  height: 150px;
  width: 180px;
  margin-top: 20px;
  margin-left: 25px;
}
.fotos.doble{
  height: 95%;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
 
}

