.App {
  text-align: center;

}
.color{
  background-color: yellow;
  width:30%;
  height: 300px;
  margin-left: 35%;
  
}
#num{
  font-size: 40px;
  font-size: Redressed;
}
button{
  background-color: blueviolet;
  border-radius: 5px;
  font-size: 40px;
  font-size: Redressed;
}

@font-face {
  font-family:Redressed;
  src: url('Redressed.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;

}
