.App {
  text-align: center;
  font-family: Redressed;
  font-size: 20px;
}

.HolyGrail-body {
  display: flex;
  flex: 1;
}

.HolyGrail-content {
  flex: 0.9;
}


.HolyGrail-nav {
  /* put the nav on the left */
  order: -1;
}

header{
  background-color: aliceblue;
  line-height: 5rem;
  font-size: 50px;

}

@font-face {
  font-family:Redressed;
  src: url('Redressed.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;

}
